<ion-view view-title="Zaloguj się do aplikacji Service Desk">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Nazwa użytkownika</span>
                <input type="text" placeholder="Wpisz tutaj...." ng-model="data.login" />
            </label>
            <label class="item item-input">
                <span class="input-label">Hasło</span>
                <input type="password" placeholder="Wpisz tutaj...." ng-model="data.password" />
            </label>
        </div>
        <span ng-bind="resultMessage"></span>
        <button class="button button-full button-positive" ng-click="authenticate()">Zaloguj</button>
    </ion-content>
 </ion-view>