<ion-view view-title="Nowe zgłoszenie">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Tytuł" ng-model="newTicket.title" />
            </label>
            <label class="item item-input">
                <textarea type="text" rows="5" placeholder="Opis" ng-model="newTicket.description"></textarea>
            </label>
        </div>
        <button class="button button-full button-assertive" ng-click="clearTicket()" ui-sref="tab.active">Zamknij</button>
        <button class="button button-full button-positive" ng-click="logTicket()">Zaloguj nowe zgłoszenie</button>
    </ion-content>
 </ion-view>