<ion-view view-title="Ticket details">
    <ion-content class="padding">
        <div class="list">
            <label class="item item-input item-stable">
                <span class="input-label">Title</span>
                <input type="text" ng-model="ticketDetails.title" readonly />
            </label>
            <label class="item item-input item-stable">
                <span class="input-label">Details</span>
                <textarea rows="10" ng-model="ticketDetails.description" readonly></textarea>
            </label>
            <label class="item item-input item-stable">
                <span class="input-label">State</span>
                <span ng-bind="getState()"></span>
            </label>
            <div ng-if="ticketDetails.comments">
                <label class="item item-input item-stable">
                    <span class="input-label">Comments</span>
                    <div class="list">
                        <span class="item item-stable item-multiline" ng-bind="comment" ng-repeat="comment in ticketDetails.comments"></span>
                    </div>
                </label>
            </div>
            <label ng-if="canCompleteTicket()" class="item item-input item-stable">
                <span class="input-label">Solution</span>
                <textarea rows="4" ng-model="solution"></textarea>
            </label>
        </div>
        <div class="list">
        </div>
        
        <span class="assertive" ng-bind="validationError"></span>
        <button class="button button-full button-balanced" ng-if="canStartTicket()" ng-click="moveToInProgress()">In progress</button>
        <button class="button button-full button-assertive" ng-if="canCompleteTicket()" ng-click="completeTicket()">Complete ticket</button>
        <button class="button button-full button-stable" ng-click="addComment()">Add comment</button>
        <button class="button button-full button-calm" ui-sref="tab.active">Close ticket</button>
    </ion-content>
 </ion-view>