/* Empty. Add your own CSS if you like */
.pane.tabs-positive.has-footer{
    bottom:44px;
    height:auto;
}

.bar-header .right{
    display: block;
    text-align: right;
    padding: 5px 20px 5px 5px;
    width: 100%;
}

.bar-subheader .title.title-center {
    left: 0 !important;
}

.item.item-input .list{
    width: 100%;
}

    .item.item-input .list .item-multiline{
        border: none;
    }